# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\workStation\ssm_frameworks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
